@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 font-family:'Trebuchet MS', sans-serif;
}

.text-shadow{
  text-shadow: 1px 1px 5px black;
}

.drop-shadowimg{
  -webkit-filter: drop-shadow(1px 1px 5px white);
  filter: drop-shadow(1px 1px 5px white);
  /* drop-shadow:5px 5px 5px #222; */
}